<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Сторона утановки</td>
            <td>{{carpart.instalation_side}}</td>
          </tr>
          <tr>
            <td>Тип диска</td>
            <td>{{carpart.disk_type}}</td>
          </tr>
          <tr>
            <td>Высота(в мм)</td>
            <td>{{carpart.height}}</td>
          </tr>
          <tr>
            <td>Толщина(в мм)</td>
            <td>{{carpart.thickness}}</td>
          </tr>
          <tr>
            <td>Количество отвестий</td>
            <td>{{carpart.holes_number}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>

