<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Исполнение фильтра</td>
            <td>{{carpart.filter_design}}</td>
          </tr>
          <tr>
            <td>Длинна(в мм)</td>
            <td>{{carpart.length}}</td>
          </tr>
          <tr>
            <td>Высота(в мм)</td>
            <td>{{carpart.height}}</td>
          </tr>
          <tr>
            <td>Ширина(в мм)</td>
            <td>{{carpart.width}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>

