<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Матриал</td>
            <td>{{carpart.material}}</td>
          </tr>
          <tr>
            <td>Провод зажигания</td>
            <td>{{carpart.ignition_wire}}</td>
          </tr>
          <tr>
            <td>Катушка зажигания</td>
            <td>{{carpart.ignition_coil}}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>

